.App {
  text-align: center;
}

.logo-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 1px;
}

.date-text-group{
  text-align: left;
  padding-top: 350px;
  padding-left: 20px;
}

.today-text{
  font-weight: bold;
  font-size: 25px;
}